<h1 class="center-xs middle-xs">Bienvenido a Nuestra pagina oficial</h1>
<div class="row">
  <div class="col-md" style="background-color:yellow;">
    <div class="col-md logo center-xs">
      <h1 class="no-margin">
        <%= image_tag("logo.jpg",width:"150px")%>
      </h1>
     </div>
  </div>
  <div class="col-md" style="background-color:green;">
    <div class="col-md logo center-xs">
      <h1 class="no-margin">
        <%= image_tag("logo.jpg",width:"150px")%>
      </h1>
     </div>
  </div>
</div>