<h1 class="center-xs middle-xs">Bienvenido a Nuestra pagina oficial</h1>
<div class="row ">
 <div class="col-md center-xs middle-xs" style="border-bottom:1px solid white;">
      <h1 class="no-margin underline">
        <%= image_tag("logo.jpg",size:"550x400")%>
      </h1>
     </div>
</div>
<div class="row">
  <div class="col-md">
    <div class="col-md logo center-xs middle-xs">
      <h1 class="no-margin">
        <%= image_tag("aberoth3.jpg",size:"550x400")%>
      </h1>
     </div>
  </div>
  <div class="col-md" >
    <div class="col-md center-xs middle-xs">
      <h1 class="no-margin">
        <%= image_tag("aberoth2.jpg",size:"550x400")%>
      </h1>
     </div>
  </div>
</div>