a,
a:visited {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: white;
  //background-image: linear-gradient(315deg, #005870 0%, #040505 74%);
  color: black;
  height: 100%;
}
body,
head,
ul {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
li {
  padding: 0px 20px;
}
::placeholder {
  color: #ff1312;
  opacity: 1;
  text-transform: uppercase;
}

.be-red {
  background-color: black;
  box-shadow: 2px 2px 10px #666; /* Sombra normal */
  box-shadow: 5px -5px 0 2px #444; /* Sombra superior sin desenfoque */
  box-shadow: 5px -30px 19px #222 inset; /* Sombra interior */
}
.btn {
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
}
.bolder{
  font-weight: 800;
  font-size: 16px;
}
.col{
  margin: 20px 20px;
}
.field {
  margin-top: 1em;
}
::placeholder {
  color: black;
}
.alert{
  background-color: red;
  color :white;
}
.form-control-user {
  border: none;

  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;

  border-bottom: 1px solid;

  outline: none;

  width: 90%;

  display: block;

  font-size: 1.2em;

  margin: 10px 4%;

  height: 100%;

  border-radius: 15px;

  padding: 0px 10px;
}
.gradient {
  background-color: black;
  background-image: linear-gradient(315deg, #000000 0%, #434343 74%);
}
.form-control {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
  height: 100%;
}
.gothic-font {
  font-family: "Marck Script", cursive;
  font-size: 1.6em;
  color: white;
}
.no-margin {
  margin: 0px;
}
.no-list {
  padding: 0px 220px;
}
.large-padding {
  padding: 10px 0px;
}
.li-nav {
  height: 100%;
  justify-content: center;
  text-align: center;
}
.li-nav:hover {
  text-decoration: underline;
}

.logo {
  font-size: 1.5em;
}
.top-padding {
  padding: 30px 0px;
}
.underline {
  border-bottom: 1px solid whitesmoke !important;
}
.white {
  color: white;
}
#log-text{
  text-align: center;
  margin-bottom: 0px;
}
#container-form{
  color:white;
  background: linear-gradient(296deg, #FFFFFF 0%, #000000 30%, #000000 3%);
  height: 40%;
  margin-top: 5%;
  font-weight: 800;
  border-radius:15px;
}
#session_email{
  height: 100%;
  margin:10px 0px;
}
#session_password{
  height: 100%;
  margin: 10px 0px;
}
#btn-crear-usuario{
  margin-bottom: 20px;
  margin-left: 4%;
  margin-top: 10px;
  background-color: whitesmoke;
  border-radius: 15px;
  width: 40%;
  height: 30px;
  font-weight: 800;

}
#signup-text{
  text-align: center;
  margin: 2px 0 0 0;
}
#btn-login{
  margin-bottom: 20px;
  margin-left: 37%;
  margin-top: 10px;
  background-color: whitesmoke;
  border-radius: 15px;
  width: 30%;
  height: 38px;
  font-weight: 800;
}

#user-new-label{
  color:blue;
  font-weight: 800;
  font-size: 16px;
margin: 0px 10px;
}
#user-new-label:hover{
  text-decoration: underline;
  font-size: 18px;
}

#form-login{
  padding: 0px 100px;
}

#form-signup{
  padding: 0px 60px;
}

#img-login{
  width:130px;
  height: 130px;
}
#error_explanation{
  background-color: white;
  color: red;
  font-weight: 800;
}

#flash{
  background-color: red;
  margin: 10px 10px;
  padding: 0px 10px;
  font-weight: 800;
  font-size: 18px;
  padding: 0px 10px;
}
#forgot-password{
  color:blue;
  font-weight: 800;
  font-size: 16px;
  margin: 5px 10px;
}
#forgot-password:hover{
  text-decoration: underline;
  font-size:18px;
}
#remember-container{
  display: flex;
  align-items: center;
}

.logueado{
  font-size: 20px;
  flex:min-content
}
#login-error{
  background-color: red;
  font-size: 27px;
  text-align: center;
  padding: 10px;
  font-weight: 800;
}
#sucessful-user{
  background-color: lawngreen;
  font-size: 27px;
  text-align: center;
  padding: 10px;
  font-weight: 800;
}
#imga{
  width: 100%;
  height: auto;
  max-width: 680px;
}
#imgv{
  width: 100%;
  height: auto;
  max-width: 680px;
  min-height: 515px;
}
#welcome-container{
    justify-content: center;
}
.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 0%;
  width: 70%;
}
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
@media only screen and (min-width: 701px) and (max-width: 880px){
  .form-login{
    justify-content: center;
  }

  .lista-header{
    padding: 0px;
  }
}
//Mobile Devices
@media only screen and (max-width: 700px){
  .form-login{
    justify-content: center;
    
  }
  .no-list{
    display: block;
  }

  .lista-header{
    padding: 0px;
  }

  .resp-container {
    width:100%;
    }
  }
